<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action='/edit' method='POST'>
        {% csrf_token %}
        <input type='text' name='name' value='{{cat.name}}'>
        <input type='integer' name='age' value='{{cat.age}}'>
        <input type='hidden' name='id' value='{{cat.id}}'>
        <input type='submit' value='Edit'>
    </form>
</body>
</html>